* {
	padding: 0;
	margin: 0;
}

html {
	background: #f4f4f4;
	height: 100%;
}

.header {
	width: 100%;
	height: 40px;
	background: #fbfbfb;
	line-height: 40px;
	border-bottom: 1px solid #f3f3f3;
}

img {
	border: 0;
}
.head1-we {
	display: inline-block;
}

.head2 {
	float: right;
	margin-right: 180px;
	position: relative;
}

.head2 ul li {
	float: left;
	margin-left: 10px;
}

.sjd_h4 {
	width: 160px;
	height: 200px;
	/* border:1px solid #000000; */
	position: absolute;
	top: -12px;
	left: -120px;
	z-index: 999;
	display: none;
}

.sjd_h4 img {
	width: 140px;
	height: 140px;
	padding: 0px 20px;
	background-color: #FBFBFB;
}

.sjd_h4 p {
	margin-left: 20px;
	padding: 0px 20px;
	background: #FBFBFB;
}

.sjd:hover .sjd_h4 {
	display: block;
}

.head_right ul li a:hover {
	color: #666;
}

.head1 {
	float: left;
	margin-left: 145px;
}

.sjd a {
	position: relative;
	color: #0069c8;
}

.sjd a:hover {
	color: #0069c8;
}


.top1{
	width: 100%;
	height: 90px;
	background: #fff;
	top: 0;
	z-index: 8;
	border-bottom: 1px solid rgb(238,238,238);
}

.logo {
	float: left;
	line-height: 85px;
	margin-left: 140px;
}

.top3 {
	width: 770px;
	height: 90px;
	float: right;
	color: #666;
	position: relative;
}

.top_search {
	width: 460px;
	position: absolute;
	float: left;
	left: -200px;
	top: 24px;
}

.top_search_input1 {
	width: 459px;
	height: 36px;
	border-radius: 50px;
	position: relative;
	background: #3084e5;
	background: -webkit-linear-gradient(left, #3084e5, #18ebe2);
	background: -o-linear-gradient(right, #3084e5, #18ebe2);
	background: -moz-linear-gradient(right, #3084e5, #18ebe2);
	background: linear-gradient(to right, #3084e5, #18ebe2);
}

.search_input {
	width: 380px;
	height: 32px;
	border-radius: 50px;
	margin: 2px 0 0 2px;
	padding: 0 60px 0 16px;
	border: 0;
	position: absolute;
	outline: none;

}

.search_button {
	width: 55px;
	height: 34px;
	border-radius: 50px;
	display: inline-block;
	border: 0;
	background: #3084e5;
	background: -webkit-linear-gradient(left, #18ebe2, #3084e5);
	background: -o-linear-gradient(right, #18ebe2, #3084e5);
	background: -moz-linear-gradient(right, #18ebe2, #3084e5);
	background: linear-gradient(to right, #18ebe2, #3084e5);
	-webkit-transition: all 0.8s ease-out 0s;
	-moz-transition: all 0.8s ease-out 0s;
	transition: all 0.8s ease-out 0s;
	cursor: pointer;
	float: right;
	position: absolute;
	margin-left: 404px;
	margin-top: -12px;
	outline: none;
}

.top_seach_opt {
	margin-top: 5px;
	margin-left: 15px;
}

.top_seach_opt a {
	margin-left: 6px;
}

.top_seach_opt a:hover {
	color: red;
}

.top_search_key {
	display: inline-block;
}

.top_search_key img {
	width: 25px;
	position: absolute;
	margin-left: 418px;
	margin-top: -7px;
}

.top_cat {
	float: right;
	position: relative;
	text-align: right;
	margin-right: 178px;
}

.showcat {
	margin-top: 22px;
	width: 180px;
	height: 40px;
	cursor: pointer;
	border-radius: 5px;
	border: 1px solid #0069c8;
	line-height: 34px;
	position: relative;
	float: right;
	margin-bottom: 2px;
	-webkit-transition: all 0.8s ease-out 0s;
	-moz-transition: all 0.8s ease-out 0s;
	transition: all 0.8s ease-out 0s;
}

.showcat dt {
	float: left;
	margin-left: 45px;
	margin-top: 5px;
}

.showcat i {
	width: 20px;
	height: 20px;
}

.cat_number {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: red;
	float: right;
	margin-right: -10px;
	margin-top: -10px;
	text-align: center;
	padding-top: -10px;
	position: relative;
}

.cat_number span {
	position: absolute;
	top: -7px;
	left: 7px;
	color: #fff;
}

.showcat a img {
	width: 25px;
	height: 25px;
	position: absolute;
	top: 8px;
}

.shopping {
	position: absolute;
	left: 76px;
	color: #333;
}

.nav_abeam {
	width: 100%;
	height: 36px;
	background: #FFFFFF;
}

.menu {
	width: 700px;
	height: 36px;
	line-height: 36px;
	font-size: 14px;
	margin-left: 145px;
	position: relative;
}

.menu_first {
	width: 179px;
	background: #2e8ae4;
	color: #fff;
	padding-left: 15px;
	float: left;
	position: relative;
	z-index: 2;
}

.all_nav img {
	float: left;
	margin-top: 5px;
	margin-left: -5px;
}

.all_nav span {
	color: #fff;
}

.nav_wrap li a {
	color: #fff;
	display: block;
}

.nav_sec li {
	float: left;
	margin-left: 10px;
}

.nav_classify li {
	cursor: pointer;
	padding-left: 15px;
}

.nav_classify li:first-child {
	margin-top: 10px;
}

.nav_sec li a {
	height: 37px;
	padding: 0px 26px;
	display: block;
	color: #333;
}

.nav_sec li a:hover,
.nav_sec li:hover {
	color: #fff;
	cursor: pointer;
	background: #2e8ae4;
}

.nav_classify {
	position: absolute;
	z-index: 1;
	background: #3084e5;
	background: -webkit-linear-gradient(#3084e5, #18ebe2);
	background: -o-linear-gradient(#3084e5, #18ebe2);
	background: -moz-linear-gradient(#3084e5, #18ebe2);
	background: -ms-linear-gradient(#3084e5, #18ebe2);
	background: linear-gradient(#3084e5, #18ebe2);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#3084e5, endColorstr=#18ebe2);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#3084e5, endColorstr=#18ebe2)";
	opacity: .9;
	filter: Alpha(opacity=90);
	width: 194px;
	height: 510px;
	left: 0;
}


.nav_classify li img {
	float: right;
	width: 20px;
	height: 20px;

}

.menu_first.nav_classify li:hover .arrow_right {
	transform: rotate(90deg);
}

.menu_first.nav_classify li ul li:hover {
	background: #2E8AE4;
	cursor: pointer;
}

.menu_first.nav_classify li ul li a:hover {
	color: #fff;
}

.menu_first.nav_classify li ul li {
	text-align: center;
	float: left;
	padding-left: 0;
	width: 120px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.nav_wrap li ul {
	display: block;
	position: absolute;
	top: 36px;
	left: 0;
	z-index: 3;
}

.menu_first .nav_wrap li ul li:hover ul {
	visibility: visible;
	display: block;
}

.menu_first .nav_wrap li ul li ul {
	visibility: hidden;
	display: none;
	position: absolute;
	top: 0;
	left: 194px;
	min-width: 100px;
	width: 400px;
	height: 490px;
	padding: 10px 0;
	background: #FFF;
	-webkit-transition: all 0.5s ease-out 0s;
	-moz-transition: all 0.5s ease-out 0s;
	transition: all 0.5s ease-out 0s;
	box-shadow: 0 0 25px -4px rgba(0, 0, 0, .2);
	overflow: auto;
}

.nav_wrap li ul li ul li a {
	color: #333;
}

.nav_classify li:hover {
	background: #035a9f;
	color: #2e8ae4;
	cursor: pointer;
}

.nav_classify li ul li a {
	text-align: left;
	padding: 0 20px;
	display: block;
	float: left;
}

.nav_classify li ul li a:hover {
	background: #2e8ae4;
}

.content {
	width: 100%;
	height: 4167px;
	background: #F4F4F4;
}

.content_main {
	width: 1210px;
	height: 3831px;
	margin-left: 144px;
	color: #444;
}

.content_hot {
	width: 1210px;
	height: 375px;
	margin-top: 55px;
}

.hot_title {
	width: 1210px;
	height: 40px;
	line-height: 40px;
}

.title_font {
	font-size: 24px;
}

.more {
	float: right;
	color: #666;
}

.more img {
	width: 12px;
	height: 12px;
}

.more a {
	color: #000000;
}

.more a:hover {
	color: #2E8AE4;
}

.hot_goods {
	width: 1222px;
	height: 333px;
	overflow: auto;
}

.list_cont {
	width: 232px;
	height: 320px;
	background: #fff;
	margin-top: 13px;
	position: relative;
	overflow: hidden;
	transition: all, .5s;
	float: left;
	margin-right: 12px;

}

.list_pro {
	text-align: center;
	margin: 20px 0 15px 0;
}

.list_pro img {
	width: 190px;
	height: 190px;
	display: inline-block;
}

.list_bottom {
	padding: 0 20px;
}

.list_bottom h5 a {
	font-size: 16px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	color: #333;
}

.list_bottom p {
	width: 100%;
	color: #999;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-top: 3px;
}

.price {
	font-size: 16px;
	padding-top: 10px;
	color: #2E8AE4;
}

.paster {
	position: absolute;
	top: 0;
	right: 10px;
}

.paster img {
	width: 60px;
	height: 60px;
}

.list_hover {
	background: #3084e5;
	background: -webkit-linear-gradient(left, #18ebe2, #3084e5);
	background: -o-linear-gradient(right, #18ebe2, #3084e5);
	background: -moz-linear-gradient(right, #18ebe2, #3084e5);
	background: linear-gradient(to right, #18ebe2, #3084e5);
	text-align: center;
	color: #FFF;
	width: 100%;
	height: 68px;
	line-height: 68px;
	position: absolute;
	bottom: -68px;
}

.hover_price {
	font-size: 16px;
}

.shop_cart {
	background: #fd8c00;
	background: -webkit-linear-gradient(left, #ff29a7, #0060ff);
	background: -o-linear-gradient(right, #ff29a7, #0060ff);
	background: -moz-linear-gradient(right, #ff29a7, #0060ff);
	background: linear-gradient(to right, #ff29a7, #0060ff);
	width: 110px;
	height: 30px;
	line-height: 28px;
	border-radius: 50px;
	vertical-align: -9px;
}

.shop_cart a {
	color: #fff;
}

.ripple {
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

.list_hover span {
	display: inline-block;
	margin: 0 5px;
}



.list_cont:hover .list_bottom h5 a {
	color: #2E8AE4;
}


 .list_cont:hover .list_hover {
	transition-duration: 0.6s;
	bottom: 0;
 } 

.list_cont:hover {
	box-shadow: 3px -3px 20px #999999;
}

.content_wrap {
	width: 1210px;
	margin: 0 auto;
	margin-top: 55px;
	color: #444;
}

.list_cont_two {
	width: 478px;
	height: 320px;
	background: #fff;
	margin-top: 13px;
	position: relative;
	overflow: hidden;
	transition: all, .5s;
	float: left;
	margin-right: 12px;
}

.list_cont_two .list_pro {
	margin: 0;
}

.list_cont_two .list_pro img {
	width: 100%;
	height: 240px;
}

.list_cont_two .list_bottom {
	padding: 12px 25px 0 25px;
	position: relative;
}

.list_cont_two .list_bottom h5 {
	font-size: 18px;
	float: left;
	width: 328px;
	margin-bottom: 5px;
	padding: 0;
}

.list_cont_two .list_bottom p {
	width: 428px;
	clear: both;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 0;
}

.list_cont_two .list_bottom .price {
	position: absolute;
	font-size: 18px;
	top: 12px;
	right: 20px;
	padding: 0;
}

.list_cont_two .list_hover {
	height: 80px;
	line-height: 80px;
	bottom: -80px;
	position: absolute;
}

.list_cont_two:hover .list_hover {
	transition-duration: 0.6s;
	bottom: 0;
}

.list_cont_two:hover {
	box-shadow: 3px -3px 20px #999999;
}

.content_sound {
	width: 1210px;
	height: 60px;
	margin-top: 55px;
}

.sound {
	width: 1230px;
}

.video {
	width: 295px;
	height: 230px;
	background: #fff;
	margin-top: 10px;
	margin-right: 10px;
	float: left;
	transition: all, .5s;
}

.video_cont {
	width: 100%;
	position: relative;
}

.video_cont img {
	width: 100%;
}

.video_bottom {
	text-align: center;
	color: #999;
}

.video_bottom h6 {
	color: #333;
	font-size: 16px;
	margin-top: 17px;
	transition: all, .5s;
}

.video:hover {
	box-shadow: 3px -3px 20px #999999;
}

.video:hover h6 {
	color: #0060FF;
}

.video:hover .video_play i {
	color: #0060FF;
}

.video_play i {
	font-size: 45px;
	position: absolute;
	left: 235px;
	top: 110px;
}

.footer {
	margin-top: 55px;
	/* width: 1231px;
	height: 281px; */
}

.link_wrap {
	background: #f6f6f6;
	width: 100%;
	height: 221px;
}

.link_lay {
	width: 1210px;
	margin-left: 144px;
	height: 131px;
	padding: 45px 0;
}

.link_cont {
	margin-right: 205px;
	float: left;
}

.link_cont li {
	line-height: 25px;
	color: #666;
}

.link_title {
	font-size: 16px;
	padding-bottom: 15px;
	display: block;
}

.link_cont li a {
	color: #666;
}

.link_cont li a:hover {
	color: #333333;
}

.link_phone {
	margin-right: 0;
	float: right;
}

.link_phone .link_title {
	color: #2E8AE4;
	font-size: 20px;
	padding: 0;
}

.link_phone li {
	line-height: 25px;
	color: #666;
}

.link_service a {
	color: #fff;
}

.online img {
	width: 20px;
	height: 20px;
	vertical-align: -2px;
	margin-right: 4px;
	margin-top: 4px;
}

.link_service {
	width: 125px;
	height: 35px;
	line-height: 32px;
	color: #fff;
	border-radius: 50px;
	text-align: center;
	margin-top: 20px;
	background: -webkit-linear-gradient(left, #18ebe2, #3084e5);
	background: -o-linear-gradient(right, #18ebe2, #3084e5);
	background: -moz-linear-gradient(right, #18ebe2, #3084e5);
	background: linear-gradient(to right, #18ebe2, #3084e5);
}

.foot_wrap {
	background: #eee;
}

.foot_cont {
	width: 1210px;
	height: 40px;
	padding: 10px 0;
	margin: auto;
}

.foot_right {
	float: right;
	margin-top: 5px;
}

.foot_left {
	line-height: 20px;
	color: #666;
}
.link_li li:first-child{
	padding-right: 0;
}
.link_li li{
	padding-right: 10px;
	display: inline;
}
.navfloat{
	width: 48px;
	height: 98px;
	position: fixed;
	right: 0;
	bottom: 60px;
	text-align: center;
	background-color: #fff;
	z-index: 999;
	border: 1px solid#0396e6;
	border-bottom: 0px none;
}
.float1{
	width: 48px;
	height: 48px;
	border-bottom: 1px solid#0396E6;
	display: block;
}
.float2{
	width: 48px;
	height: 48px;
	border-bottom: 1px solid#0396E6;
	display: block;
}
.float3{
	width: 48px;
	height: 48px;
	border-bottom: 1px solid#0396E6;
	display: block;
}
 .navfloat .preSalse{
	width: 48px;
	height: 48px;
	background: url(../img/浮动图.png) no-repeat;
	background-position: -49px 0;
	display: block;
}
.afterSales{
	width: 48px;
	height: 48px;
	background: url(../img/浮动图.png) no-repeat;
	background-position: -48px -49px;
	display: block;
}
.hover_img{
	width: 200px;
	height: 200px;
	position: absolute;
	top: -50px;
	right: 55px;
	display: none;
}
.backTop{
	
	width: 48px;
	height: 48px;
	background: url(../img/浮动图.png) no-repeat;
	background-position: -48px -196px;
	display: block;
}
.navfloat .preSalse:hover{
	background: url(../img/浮动图.png) no-repeat;
	background-position: 0 0;
}
.afterSales:hover{
	background: url(../img/浮动图.png) no-repeat;
	background-position: 0px -49px;
}
.backTop:hover{
	background: url(../img/浮动图.png) no-repeat;
	background-position: 0px -196px;
}
.float2:hover .hover_img{
	display: block;
}
